@import '../../index.css';

.nav{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.item{
    font-size: 30px;
    transition: all 0.5s;
    padding: 10px;
    text-decoration: none;
    color: var(--main-text-color);
}
